<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmando</title>
    <script>
        setTimeout(() => {
            window.location.href = "http://localhost:3000/cart"
        }, 3000);
    </script>
</head>
<body>
    <div style="width:700px;margin: auto;margin-top:50px">
        <h4 style="font-family: 'Courier New', Courier, monospace;">Guardando cambios</h4>
        <br>
        <img style="width: 100%;" src="/images/load.gif" alt="">
        <br>
        <br>
        <p style="color:gray; font-size: 8px;">Perdon por el alto CSS</p>
    </div>
</body>
</html>